<div class="container min">
  <h1>Data Contacts</h1>
  <a class="btn btn-success" href="add-contact">Add Contact</a>

  <% if (msg.length != 0) { %>
  <div class="alert alert-success mt-4 col-md-4 fw-bold" role="alert">
    <%= msg %>
  </div>
  <% } %>

  <table class="table mt-3">
    <% if (!contacts) { %>
    <div class="alert alert-danger" role="alert">
      A simple danger alert—check it out!
    </div>
    <% } else{ %>
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>No.HP</th>
        <th>Image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% contacts.forEach((contact, i) => { %>
      <tr>
        <% const number = per_page*(page-1)+i+1 %>
        <th><%= number %></th>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone_number %></td>
        <td>
          <img
            src="http://localhost:3000/images/<%= contact.image %>"
            style="max-width: 50px"
          />
        </td>
        <td>
          <button type="submit" class="btn btn-outline-info m-1">
            <a
              href="/v1/user/contact/<%= contact._id %>"
              class="text-decoration-none"
            >
              EDIT</a
            >
          </button>
          <form
            method="POST"
            action="/v1/user/contact/<%= contact._id %>?_method=DELETE"
            class="d-inline"
          >
            <button
              type="submit"
              onclick="return confirm('Sure to delete?')"
              class="btn btn-outline-danger"
            >
              Delete
            </button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
    <% } %>
  </table>
  <div class="pagination d-flex justify-content-around m-4">
    <% for( let index = 1; index <= total_pages; index++ ) { %>
    <a href="?page=<%= index %> " class="btn btn-outline-primary"
      ><%= index %>
    </a>
    <% } %>
  </div>
</div>
